<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
<!-- Encabezado-->
      <header>
        <h1>Tienda de Calzados F51</h1>
        <!--Menu de Navegacion-->  
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./Productos.html">Productos</a></li>
                <li><a href="./Presupuesto.html">Presupuesto</a></li>
                <li><a href="./Contacto.html" class="activo">Contacto</a></li>
            </ul>
        </nav>
     </header>
     <!--Contenido de la pajina Contacto-->
     <section class="contacto">
        <h2>Contactanos</h2>
        <p>Estamos aqui para ayudarte. Puedes visitaros en nuestra oficina o ponerte en contacto</p>
        <div class="contenido-contacto">
            <div class="info">
                <p><strong>Dirección:</strong>Alcorcón, Madrid, España</p>
                <p><strong>Teléfono:</strong>+32 000 000 000</p>
                <p><strong>Email:</strong>Contacto@empresa.com</p>
                <a href="https://maps.app.goo.gl/x6Deq3XXmXWLvWzR8" target="_blank" class="btn-map">Ver en Google Maps</a>
            </div>
            <!--Insertar mapa de ubicacion-->
                <img src="../images/ubicacion.jpg" alt="Direcciond del mapa">
        </div>
     </section>

    
     <!--Pie de Pajina-->
     <footer>
        <div class="direccion">
            <p> Alcorcón, Madrid, España</p>
        </div>
        <div class="redes-sociales">
           <a href="https://www.instagram.com/" target="_blank">
            <img src="../images/instagram.jpg" alt="Instagram">
           </a>
           <a href="https://es-es.facebook.com/" target="_blank">
            <img src="../images/facebook.jpg" alt="Facebook">
           </a>
        </div>
        <p class="aviso-legal"><a href="#">Aviso Legal</a></p>
     </footer>
</body>
</html>