<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <div class="texto-polica">
        <p>
            Tu información personal será tratada de acuerdo con las leyes
            de proteción de datos vigentes.
            No compartiremos tu informacion con terceros. Si tienes alguna duda 
            pregunta, Puedes contáctarnos a través de nuestro correo electrónico.
        </p>
    </div>
</body>
</html>