<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
      <!-- Encabezado-->
      <header>
        <h1>Tienda de Calzados F51</h1>
         <!--Menu de Navegacion--> 
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./Productos.html" class="activo">Productos</a></li>
                <li><a href="./Presupuesto.html">Presupuesto</a></li>
                <li><a href="./Contacto.html">Contacto</a></li>
            </ul>
        </nav>
     </header>
     <!--Galeria de imagenesd de los productos-->
    <main>
        <h1 class="H_galeria">Nuestros Productos</h1>

        <h2 class="H_galeria">Zapatos de Deporte</h2>
         <div class="galeria">
            <img src="../images/deporte1.jpg" alt="deporte">
            <img src="../images/deporte2.jpg" alt="deporte">
            <img src="../images/deporte3.jpg" alt="deporte">
            <img src="../images/deporte4.jpg" alt="deporte">
            <img src="../images/deporte6.jpg" alt="deporte">
            <img src="../images/deporte7.jpg" alt="deporte">
            <img src="../images/deporte8.jpg" alt="deporte">
            <img src="../images/deporte9.jpg" alt="deporte">
         </div>    
          <div class="precio">
            <p class="precio">$40.00 $</p>
            <p class="precio">$30.00 $</p>
            <p class="precio">$49.99 $</p>
            <p class="precio">$60.00 $</p>
            <p class="precio">$29.99 $</p>
            <p class="precio">$38.50 $</p>
            <p class="precio">$40.00 $</p>
            <p class="precio">$29.99 $</p>
          </div>

        <h2 class="H_galeria">Tacones</h2>
         <div class="galeria">
            <img src="../images/tacones1.jpg" alt="tacones">
            <img src="../images/tacones2.jpg" alt="tacones">
            <img src="../images/tacones3.jpg" alt="tacones">
            <img src="../images/tacones4.jpg" alt="tacones">
            <img src="../images/tacones5.jpg" alt="tacones">
            <img src="../images/tacones6.jpg" alt="tacones">
            <img src="../images/tacones7.jpg" alt="tacones">
            <img src="../images/tacones8.jpg" alt="tacones">
         </div> 
          <div class="precio">
            <p class="precio">$48.00 $</p>
            <p class="precio">$59.99 $</p>
            <p class="precio">$39.99 $</p>
            <p class="precio">$39.99 $</p>
            <p class="precio">$40.00 $</p>
            <p class="precio">$20.00 $</p>
            <p class="precio">$19.99 $</p>
            <p class="precio">$49.99 $</p>
         </div>
          

        <h2 class="H_galeria">Sandalias</h2>
         <div class="galeria">    
            <img src="../images/sandalias1.jpg" alt="Sandalias">
            <img src="../images/sandalias2.jpg" alt="Sandalias">
            <img src="../images/sandalias3.jpg" alt="Sandalias">
            <img src="../images/sandalias4.jpg" alt="Sandalias">
            <img src="../images/sandalias5.jpg" alt="Sandalias">
            <img src="../images/sandalias6.jpg" alt="Sandalias">
            <img src="../images/sandalias7.jpg" alt="Sandalias">
            <img src="../images/sandalias8.jpg" alt="Sandalias">
         </div>   
          <div class="precio">
            <p class="precio">$29.99 $</p>
            <p class="precio">$45.00 $</p>
            <p class="precio">$39.00 $</p>
            <p class="precio">$29.99 $</p>
            <p class="precio">$59.99 $</p>
            <p class="precio">$29.99 $</p>
            <p class="precio">$30.00 $</p>
            <p class="precio">$29.99 $</p>
         </div>

        <h2 class="H_galeria">Botines</h2>
         <div class="galeria"> 
            <img src="../images/botines1.jpg" alt="botines">
            <img src="../images/botines2.jpg" alt="botines">
            <img src="../images/botines3.jpg" alt="botines">
            <img src="../images/botines4.jpg" alt="botines">
            <img src="../images/botines5.jpg" alt="botines">
            <img src="../images/botines6.jpg" alt="botines">
            <img src="../images/botines7.jpg" alt="botines">
            <img src="../images/botines8.jpg" alt="botines">
         </div>   
          <div class="precio">
            <p class="precio">$40.00 $</p>
            <p class="precio">$50.00 $</p>
            <p class="precio">$80.00 $</p>
            <p class="precio">$70.00 $</p>
            <p class="precio">$49.99 $</p>
            <p class="precio">$45.00 $</p>
            <p class="precio">$39.99 $</p>
            <p class="precio">$57.99 $</p>
         </div>
    </main>
    
    <!--Pie de Pajina-->
    <footer>
        <div class="direccion">
            <p> Alcorcón, Madrid, España</p>
        </div>
        <div class="redes-sociales">
           <a href="https://www.instagram.com/" target="_blank">
            <img src="../images/instagram.jpg" alt="Instagram">
           </a>
           <a href="https://es-es.facebook.com/" target="_blank">
            <img src="../images/facebook.jpg" alt="Facebook">
           </a>
        </div>
        <p class="aviso-legal"><a href="#">Aviso Legal</a></p>
     </footer>
</body>
</html>